@font-face {
    font-family: grafierBlk;
    src: url(./fonts/PPGrafier-Black.otf);
}
@font-face {
    font-family: grafierReg;
    src: url(./fonts/PPGrafier-Regular.otf);
}
@font-face {
    font-family: radio;
    src: url(./fonts/PPRadioGrotesk-Regular.otf);
}
::selection {
    color: var(--lightGreen)
  }
:root {
    --background: #050404;
    --textCol: #f9e4d8;
    --cream: #dab49c;
    --tan: #9e7548;
    --orange: #b15736;
    --grey: #c8c4ca;
    --lightGreen: #79763e;
    --darkGreen:#353723;
  }
body{
    background-color: var(--background);
    color: var(--grey);
    margin:0;
    padding:0;
    font-family: grafierReg;
    overflow-x: hidden;
}
h1{
    font-size: 400%;
    font-family: grafierReg;
}
h2{
    font-size: 300%;
    font-family: grafierReg;
}
h3{
    font-size: 130%;
    font-family: radio;
    color: var(--tan);
}
h4{
    font-size: 260%;
    font-family: grafierReg;
}
p{
    font-size: 150%;
    font-family: radio;
    max-width: 60%;
}
.enlarged {
    /* width: 100vw;
    height: 100vh; */
    opacity: 0% !important;
}
.menu{
    display: flex;
    justify-content:space-between;
    position:sticky;
    height: fit-content;
    top:0;
    width:80%;
    margin:auto;
    opacity: 90%;
    background-image: linear-gradient( var(--background), transparent);
}
.pageLink{
    width: fit-content;
    padding: 0;
}
a{
    all: unset;
    cursor: pointer;
}
a:hover{
    color: var(--textCol);
    opacity: 100%;
}
/* Main Page */
#banner{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin:0;
    object-fit: cover;
}
#mainContent{
    width:65%;
    margin: auto;
}
#experiment{
    width:100%;
    height: auto;
}
#imageContainer img{
    width: 100%;
    height: auto;
}
.leftContainer{
    margin: 100px auto 0 0;
    width: 85%;
    height: fit-content;
}
.leftContainer p{
    margin-top: -200px;
    margin-left: 50%;
}
.rightContainer{
    margin: 100px 0 0 auto;
    width: 85%;
    height: fit-content;
}
.rightContainer p{
    margin-top: -200px;
    margin-left: -20%;
    text-align: right;
}
.long{
    width:80%;
}
.short{
    width:70%;
}
.caption{
    font-size: 350%;
    line-height: 0.9;
    /* text-transform: uppercase;
    line-height: 100%; */
    z-index: 10;
}
.asterix{
    font-size: 50%;
    width: fit-content;
    margin: auto;
}
.asterix:hover{
    font-size: 120%;
}
.interactModel{
    width:100%;
    height:auto;
}
#appendixContainer{
    display: flex;
    flex-wrap: wrap;
}
#appendixContainer img{
    width:40%;
    height: auto;
    margin: 1%;
}

/* about page */
#us{
    width: 70%;
    margin-top: 5%;
}
.bio img{
    width:50%;
    height:200px;
    object-fit: cover;
}
.usText{
    font-size: 22px;
}
.flex{
    display: flex;
}
.credit{
    width: 25%;
}
#anna{
    width:33%;
    height: 100px;
}
#krithi{
    width:33%;
    height:100px;
}
#tanvi{
    width:33%;
    height:100px;
}
.usText a{
    opacity: 100%;
}
.usText a:hover{
    color: var(--tan);
}